.react-chessboard-piece {
  position: absolute;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
  background-size: cover;
}
.react-chessboard-piece--can-move {
  cursor: pointer;
}
.react-chessboard-piece--dragging {
  display: none;
}
.react-chessboard-piece--wP {
  background-image: url(../pieces/wP.svg);
}
.react-chessboard-piece--wN {
  background-image: url(../pieces/wN.svg);
}
.react-chessboard-piece--wB {
  background-image: url(../pieces/wB.svg);
}
.react-chessboard-piece--wR {
  background-image: url(../pieces/wR.svg);
}
.react-chessboard-piece--wQ {
  background-image: url(../pieces/wQ.svg);
}
.react-chessboard-piece--wK {
  background-image: url(../pieces/wK.svg);
}
.react-chessboard-piece--bP {
  background-image: url(../pieces/bP.svg);
}
.react-chessboard-piece--bN {
  background-image: url(../pieces/bN.svg);
}
.react-chessboard-piece--bB {
  background-image: url(../pieces/bB.svg);
}
.react-chessboard-piece--bR {
  background-image: url(../pieces/bR.svg);
}
.react-chessboard-piece--bQ {
  background-image: url(../pieces/bQ.svg);
}
.react-chessboard-piece--bK {
  background-image: url(../pieces/bK.svg);
}
